<!DOCTYPE html>
<html>

<head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Form</h1>
    <p>Welcome to Form</p>
    <form action="/form" method="post">

        <label for="name">Ingrese su nombre</label><br>
        <input  type="text" name="name" id="name">

        <label for="color"></label> <br>
        <select required name="color" id="color">
            <option value="rojo">Rojo</option>
            <option value="amarillo">amarillo</option>
            <option value="azul">Azul</option>
        </select> <br>

        <label for="email">Ingrese su email</label><br>
        <input required type="email" name="email" id="email"><br>

        <label for="age">Ingrese su edad</label><br>
        <input type="number" name="age" id="age"><br>

        <button type="submit">Enviar</button>
    </form>
</body>

</html>